@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --color-blue: #0a66c2;
  --color-beige: #f1ece5;
  --color-beige-light: #faf9f7;
  --color-red: #b4492a;
  --color-gray-light: #e6e5e4;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem 6rem;
}
.header .header__title {
  color: var(--color-blue);
  font-size: 22px;
  font-weight: bold;
}
.header .header__title span {
  color: white;
  display: inline-block;
  background-color: var(--color-blue);
  text-transform: lowercase;
  padding: 1px 2px;
  border-radius: 2px;
  margin-left: 2px;
}
.header .header__nav ul li {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.header .header__nav ul li a {
  text-decoration: none;
}
.header .header__nav ul .join {
  margin-right: 0.75rem;
}
.header .header__nav ul .join a {
  color: var(--color-gray);
}
.header .header__nav ul .sign a {
  color: var(--color-blue);
}
.header .header__nav ul .sign {
  border: 1px solid var(--color-blue);
  border-radius: 20px;
}

/* Hero section */
.hero {
  position: relative;
  margin-bottom: 175px;
  padding: 0 6rem;
}
.hero .content {
  width: 50%;
}
.hero .content h1 {
  font-size: 54px;
  line-height: 1.2;
  color: var(--color-blue);
  margin-bottom: 1rem;
}
.hero .content form {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
}
.hero .content form input {
  padding: 10px 6px;
  margin-bottom: 12px;
}
.hero .content form .show {
  color: lightgray;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
  top: 63px;
  right: 12px;
  color: black;
}

.hero .content form a {
  text-decoration: none;
  color: lightgray;
  font-size: 12px;
  margin-bottom: 12px;
}
.hero .content form .btn {
  background-color: var(--color-blue);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 20px;
}
.hero img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
}
/* Main Section */
.main {
  background-color: var(--color-beige-light);
}

.main .jobs,
.main .post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 8rem;
  padding: 12rem 6rem 1rem;
}

.main .jobs h1,
.main .post h1 {
  width: 25%;
  font-size: 34px;
  line-height: 1.2;
}
.main .jobs .searches,
.main .post div {
  width: 55%;
}
.main .jobs .searches span {
  font-size: 12px;
  color: gray;
  letter-spacing: 1px;
  display: inline-block;
  margin-bottom: 15px;
}
.main .jobs .searches .results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-right: 250px;
}

.main .jobs .searches .results .result,
.main .post div span {
  background-color: var(--color-gray-light);
  margin-right: 8px;
  padding: 14px;
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.main .jobs .searches .results .result a {
  text-decoration: none;
  color: black;
}
.main .post {
  background-color: var(--color-beige);
  padding: 3rem 6rem;
  align-items: center;
}
.main .post h1 {
  color: var(--color-red);
}
.main .post div span {
  background-color: var(--color-beige);
  border: 1px solid gray;
}
.main .feature {
  padding: 4rem 6rem 10rem;
  position: relative;
  /* margin-bottom: 10rem; */
}
.main .feature .desc {
  width: 30%;
}
.main .feature .desc h1 {
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 10px;
  color: var(--color-blue);
}
.main .feature .desc p {
  line-height: 1.2;
  font-size: 23px;
}
.main .feature img {
  position: absolute;
  top: 0;
  right: 6rem;
  width: 25%;
}

.activities {
  padding: 6rem;
  display: flex;
  flex-wrap: wrap;
}
.activities .activity {
  width: 50%;
}
.activities .activity img {
  width: 40%;
  margin-bottom: 2rem;
}
.activities .activity h1 {
  width: 320px;
  font-size: 34px;
  margin-bottom: 2rem;
}

.activities .activity a {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  padding: 0.5rem;
  border-radius: 20px;
  font-size: 14px;
}

.started {
  height: 170vh;
  padding: 4rem 6rem;
  background-image: url(images/background.svg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.started h1 {
  font-size: 66px;
  color: var(--color-blue);
  line-height: 1.2;
  margin-bottom: 3rem;
}
.started a {
  text-decoration: none;
  color: white;
  background-color: var(--color-blue);
  padding: 0.75rem;
  border-radius: 20px;
}

footer {
  display: flex;
  margin-top: 0.5rem;
  padding: 2rem 14rem 2rem 6rem;
  background-color: var(--color-beige-light);
  flex-wrap: wrap;
  justify-content: space-between;
}

footer h1{
    color: var(--color-blue);
    font-size: 20px;
    font-weight: bold;
}
footer h1 span{
    background-color: var(--color-blue);
    color: white;
    padding: 1px;
}
footer div h2{
    margin-bottom: 0.75rem;
    font-weight: 600;
}
footer div ul li{
    margin-bottom: 0.5rem;
    font-size: 12px;
}
footer div ul li a{
    text-decoration: none;
    color: gray;
}